/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define root variables */
:root {
    --primary-color: #007bff;
    --secondary-color: #705e5e;
    --background-color: rgba(255, 255, 255, 0.1);
    --border-color: #ccc;
    --focus-box-shadow: rgba(0, 123, 255, 0.25);
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    font-size: 62.5%;
    background: linear-gradient(135deg, #93a4ff 100%, #8ca989 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Card styles */
.card {
    position: relative;
    max-width: 45rem;
    padding: 1.5rem;
    margin: 1rem auto 0;
    background: linear-gradient(#905ad4, #3330a5);
    color: #ffffff;
    border-radius: 2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    text-align: center;
    -webkit-backdrop-filter: blur(2rem) saturate(200%);
    backdrop-filter: blur(2rem) saturate(100%);
}

.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    padding: 0.5rem;
    border-radius: 1.5rem;
    background-image: conic-gradient(
        #488cfb,
        #29dbbc,
        #ddf505,
        #ff9f0e,
        #e440bb,
        #655adc,
        #488cfb
    );
    mask-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
    mask-origin: content-box, padding-box;
    -webkit-mask-clip: content-box, padding-box;
    -webkit-mask-composite: destination-out;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    to {
        filter: hue-rotate(1turn);
    }
}

.title {
    font-size: 1.5rem;
}

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.search input {
    padding: 0.8rem 2rem;
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    transition: border-color 0.3s ease;
    border-radius: 3rem;
    margin-right: 1.6rem;
    font-size: 1.8rem;
    z-index: 1;
    flex: 1;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    padding: 0.8rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
.search button img {
    padding: 0;
    width: 1.5rem;
}

.search button:hover {
    transform: scale(1.2);
    color: #ff5722;
}

.middle {
    margin-top: 1rem;
}

.weather_icon {
    width: 8rem;
    margin-top: 2rem;
}

.temp {
    font-size: 3.2rem;
}

.location {
    font-size: 2rem;

    margin-bottom: 2rem;
}

.info_footer {
    display: flex;
    justify-content: space-evenly;
}
.info_footer img {
    height: 4rem;
    width: 4rem;
}
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.humidity,
.wind {
    margin-top: 1rem;
}
